<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #sidebar {
            background-color: #fff;
            height: 86vh;
        }

        .custom-border {
            border: 2px solid #3883f4;
            border-radius: 5px;
        }

        .maindiv{
            height: 86vh;
            overflow-y: scroll;
        }

        #sidebar a.nav-link:hover {
            color: #3883f4 !important;
        }

    </style>
</head>
<body class="bg-light">

    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-primary" href="#">Admin</a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row mt-4 ml-2">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-4 col-lg-2 d-md-block sidebar custom-border">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/admin/dashboard">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/admin/usermanagement">
                                User Management
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/admin/productmanagement">
                                Product Management
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/admin/categorymanagement">
                                Category Management
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-primary" href="/order/ordermanagement">
                                Order Management
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/admin/offermanagement">
                                Offer Management
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/admin/couponmanagement">
                                Coupon Management
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/admin/bannermanagement">
                                Banner Management
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/admin/logout">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-8 col-lg-10 col-sm-12">
                <div class="custom-border maindiv p-5">
                    <div class="container ">
                        <!-- Add your user data tables here -->
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total Amount</th>
                                    <th>Status</th>
                                    <th>Order Date</th>
                                    <th>Action</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody id="userTableBody">
                                <% if(orders.length> 0) { %>
                                    <% orders.forEach( order => { %>
                                    <% order.products.forEach( product => { %>
                                        <tr>
                                            <td>
                                                <%= order.user %>
                                            </td>
                                            <td>
                                                <%= product.product %>
                                            </td>
                                            <td>
                                                <%= product.quantity %>
                                            </td>
                                            <td>
                                                <% let total = (product.price * product.quantity) - product.discount %>
                                                <%= total %>
                                            </td>
                                            <td>
                                                <form action="/order/ordrstatus/<%= order._id %>/<%= product.productid %>" method="POST">
                                                    <!-- Depending on your system, you might prefer a dropdown -->
                                                    <% if (product.status === 'Cancelled') { %>
                                                        Cancelled
                                                        <% } else if(product.status === 'Delivered') { %>
                                                            <select name="status" class="form-control">
                                                                <option value="Delivered" <%= product.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                                                <!-- Add other status options -->
                                                            </select>
                                                        <% } else if(product.status === 'Returned') { %>
                                                            Returned
                                                            <% } else { %>
                                                    <select name="status" class="form-control">
                                                        <option value="Pending" <%= product.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                                                        <option value="Processing" <%= product.status === 'Processing' ? 'selected' : '' %>>Processing</option>
                                                        <option value="Shipped" <%= product.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                                        <option value="Delivered" <%= product.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                                        <!-- Add other status options -->
                                                    </select>
                                                    <% } %>
                                            </td>
                                            <td>
                                                <% 
                                                // Formatting the date directly
                                                const formattedDate = new Date(order.orderdate).toLocaleDateString('en-US', {
                                                    weekday: 'short',
                                                    month: 'short',
                                                    day: 'numeric',
                                                    year: 'numeric'
                                                });
                                                %>
                                                <%= formattedDate %>
                                            </td>
                                            <td>
                                                <!-- <a href="/cancelorder/<%= order._id %>"
                                                    class="btn btn-primary">Update</a> -->
                                                    <% if (product.status !== 'Delivered' && product.status !== 'Cancelled' && product.status !== 'Returned') { %>
                                                    <button type="submit" class="btn btn-primary mt-2">Update</button>
                                                    <a href="/order/admincancelorder/<%= order._id %>/<%= product.productid %>" class="btn btn-danger">Cancel</a>
                                                    <!-- <button onclick="openConfirmCancelModal('/order/admincancelorder/<%= order._id %>')" class="btn btn-danger">Cancel</button> -->
                                                    <% } %>
                                                </form>
                                            </td>
                                            <td>
                                                <a href="/order/adminorderdetails/<%= order._id %>/<%= product.productid %>" class="btn btn-primary">View</a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                        <% }); %>
                                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- footer -->
    <div class="mt-4">
    </div>

    <!-- Modal HTML -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
        aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Cancel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this order?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openConfirmCancelModal(url) {
        $('#confirmDeleteModal').modal('show')
        $('#confirmDeleteBtn').click(function() {
            window.location.href = url
        });
    }


    </script>

    <!-- Include Bootstrap JS (jQuery and Popper.js required) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
