<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #sidebar {
            background-color: #fff;
            height: 93vh;
        }

        .custom-border {
            border: 2px solid #3883f4;
            border-radius: 5px;
        }

        .maindiv {
            height: 93vh;
        }

        #sidebar a.nav-link:hover {
            color: #3883f4 !important;
        }
    </style>
</head>

<body class="bg-light">

    <div class="container-fluid">
        <div class="row mt-4 ml-2">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-4 col-lg-2 d-md-block sidebar custom-border">
                <div class="position-sticky">
                    <!-- Profile Photo -->
                    <div class="text-center mt-3">
                        <% if (user.profilePhoto) { %>
                            <!-- If the user has a profile photo -->
                            <img src="<%= user.profilePhoto %>" alt="Profile Photo" class="img-fluid rounded-circle"
                                style="width: 80px; height: 80px;">
                            <% } else { %>
                                <!-- If the user doesn't have a profile photo, display a default one -->
                                <img src="img/profilephoto.jpg" alt="Default Profile Photo"
                                    class="img-fluid rounded-circle" style="width: 80px; height: 80px;">
                                <% } %>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/userprofile/<%= userId %>">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-primary" href="">
                                Address settings
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/orders">
                                Orders
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/wallet">
                                Wallet
                            </a>
                        </li>
                        <li class="nav-item mt-4">
                            <a class="nav-link text-dark" href="/userhome">
                                E-Cart
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-8 col-lg-10">
                <div class="custom-border maindiv p-5">
                    <div class="container">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h1 class="mb-0 text-primary">Address</h1>
                            <a href="/addaddress" class="btn btn-primary">Add Address</a>
                        </div>
                        <br>
                        <!-- User Information -->
                        <% if(addresses.length> 0) { %>
                            <% addresses.forEach( (address, index)=> { %>
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <h5>Address <%= index + 1 %></h5>
                                        <p><strong>Name:</strong> <%= address.firstname %> <%= address.lastname %></p>
                                        <p><strong>Address:</strong> <%= address.address %></p>
                                        <p><strong>City:</strong> <%= address.city %></p>
                                        <p><strong>State:</strong> <%= address.state %></p>
                                        <p><strong>Pincode:</strong> <%= address.pincode %></p>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Buttons for edit and delete -->
                                        <div class="text-right mt-3">
                                            <a href="/addressedit/<%= address._id %>" class="btn btn-primary">Edit</a>
                                            <button onclick="openConfirmDeleteModal('/addressdelete/<%= address._id %>')" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <% }); %>
                                    <% } %>
                    </div>
                </div>
        </div>
        </main>
    </div>
    </div>

    <!-- footer -->
    <div class="mt-4">
    </div>

    <!-- Modal HTML -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
        aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this address?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openConfirmDeleteModal(url) {
        $('#confirmDeleteModal').modal('show')
        $('#confirmDeleteBtn').click(function() {
            window.location.href = url
        });
    }
    </script>

    <!-- Include Bootstrap JS (jQuery and Popper.js required) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>